site_name: CRC User Manual
repo_url: https://github.com/pitt-crc/user-manual
site_url: https://crc-pages.pitt.edu/user-manual/
theme:
  name: material
  logo: _assets/img/pitt_shield_white.png
  favicon: _assets/img/pitt-logo-nav_white.png
  palette:
    primary: custom
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy
    - search.suggest
    # - navigation.tabs
    # - navigation.sections
    - navigation.top
    - content.code.annotate
extra:
  homepage: https://crc.pitt.edu
  analytics:
    provider: google
    property: G-M9R3HZF36E 
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by creating an issue in 
            our <a href="https://github.com/pitt-crc/user-manual/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">Github Repository</a>.
extra_css:
  - _assets/css/pitt_colors.css
plugins:
  - search
  - mkdocstrings
  - mkdocs-video:
      is_video: True
      video_autoplay: True
      video_loop: True
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - tables
nav:
  - Back to crc.pitt.edu: https://crc.pitt.edu
  - User Manual Home: index.md
  - Policies:
    - policies/job-scheduling-policy.md
    - policies/hardware-investing-policy.md
    - policies/resource-descriptions-for-writing-proposals.md
  - Connecting to Web Portals:
    - web-portals/open-ondemand.md
    - web-portals/jupyter-ondemand.md
    - web-portals/viz.md
    - web-portals/jupyter-hub.md
    - web-portals/psych.md
  - The SLURM Workload Manager:
    - slurm/slurm-overview.md
    - slurm/batch-jobs.md
    - slurm/service-units.md
    - slurm/interactive-jobs.md
    - slurm/pbs-slurm.md
    - slurm/scavenger.md
    - slurm/job-arrays.md
    - slurm/vscode.md
  - Acknowledge CRC Resources and Assistance in Your Papers: acknowledge-crc.md
  - Data Management:
    - data-management/data-management-overview.md
    - data-management/box.md
    - data-management/google-workspace.md
    - data-management/microsoft-onedrive.md
    - data-management/globus.md
    - data-management/globus-microsoft-onedrive.md
  - Applications:
    - applications/software-list.md
    - applications/application-environment.md
    - applications/basic-commands.md
    - applications/crc-wrappers.md
    - applications/compilers.md
    - applications/python.md
    - applications/r+rstudio.md
    - applications/singularity.md
    - Licensed Software:
        - applications/licensed-software/ansys.md
        - applications/licensed-software/comsol.md
        - applications/licensed-software/lumerical.md
        - applications/licensed-software/mathematica.md
        - applications/licensed-software/vasp.md
        - MATLAB:
            - applications/licensed-software/matlab/matlab.md
            - applications/licensed-software/matlab/matlab-remote-job-submission.md
  - Advanced Genomics Support:
    - advanced-genomics-support/clcbio-genomics-server.md
    - advanced-genomics-support/nf-core-genomics-pipelines.md
    - advanced-genomics-support/genome-browser.md
    - NGS Data Analysis:
      - advanced-genomics-support/RNASeq-data-analysis.md
      - advanced-genomics-support/variant-calling.md
      - advanced-genomics-support/single-cell-rnaseq.md
      - advanced-genomics-support/ChipSeq-data-analysis.md
      - advanced-genomics-support/cromwell-and-encode.md
      - advanced-genomics-support/ATACSeq-data-analysis.md

  - Supporting Code Optimization: code-optimization.md


copyright: Copyright &copy; University of Pittsburgh. All rights reserved.
